<div id="about-us-wrapper">
  <div id="about-us">
    <div id="about-us-image"></div>
    <div id="about-us-desc">
      <div id="about-us-header">
        <h2>About Glamour</h2>
      </div>
      <div id="about-us-content">
        <p>
          Welcome to shadowtest Hair Salon located in Katowice, 24. We are dedicated to providing top-quality hair services in a relaxing and welcoming environment.
        </p>
        <p>
          Our team of experienced stylists is committed to helping you achieve your desired look while ensuring your comfort and satisfaction. Visit us today and experience the difference at shadowtest Hair Salon.
        </p>
      </div>
      <div id="about-us-btn">
        <button>LEARN MORE</button>
      </div>
    </div>
  </div>
</div>

