#services {
  padding: 10rem 5rem 5rem 5rem;
  background-color: rgb(31, 31, 31);
  #services-header {
    h2 {
      color: white;
      font-size: 3rem;
      font-weight: bold;
      padding: 3rem 0 3rem 8rem;
    }
  }

  #services-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 40px;

    .service {
      width: 400px;
      height: 650px;
      background-color: black;
      display: flex;
      align-items: end;
      border-radius: 16px;
      position: relative;

      .service-desc {
        background-color: rgba(0, 0, 0, .9);
        border-radius: 0 0 16px 16px;
        color: white;
        padding: 1.5rem;
        min-height: 200px;

        h3 {
          padding: .5rem 0;
          font-size: 2rem;
          font-weight: bold;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }

    .service:nth-child(1) {
      background-image: url("https://images.unsplash.com/photo-1560869713-7d0a29430803?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyNjI5NjF8MHwxfHNlYXJjaHw1fHxIYWlyJTIwU2Fsb258ZW58MHx8fHwxNzEwNzIxOTcwfDA&ixlib=rb-4.0.3&q=80&w=1080");
      background-size: cover;
      background-position: center;
    }

    .service:nth-child(2) {
      background-image: url("https://images.unsplash.com/photo-1634449571010-02389ed0f9b0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyNjI5NjF8MHwxfHNlYXJjaHwxMXx8SGFpciUyMFNhbG9ufGVufDB8fHx8MTcxMDcyMTk3MHww&ixlib=rb-4.0.3&q=80&w=1080");
      background-size: cover;
      background-position: center;
    }

    .service:nth-child(3) {
      background-image: url("https://images.unsplash.com/photo-1616105996583-f9e3c00bb31f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyNjI5NjF8MHwxfHNlYXJjaHwxN3x8SGFpciUyMFNhbG9ufGVufDB8fHx8MTcxMDcyMTk3MHww&ixlib=rb-4.0.3&q=80&w=1080");
      background-size: cover;
      background-position: center;
    }
  }
}

@media only screen and (max-width: 1440px) {
  #services {
    #services-header {
      h2 {
        color: white;
        font-size: 3rem;
        font-weight: bold;
        padding: 3rem 0;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #services {
    padding: 6rem 5rem 10rem 5rem;
  }
}

@media only screen and (max-width: 768px) {
  #services {
    #services-header {
      h2 {
        color: white;
        font-size: 3rem;
        font-weight: bold;
        padding: 1rem 0 3rem 2rem;
      }
    }

    #services-content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-evenly;
      gap: 40px;
  
      .service {
        width: 90%;
        height: 650px;
        background-color: black;
        display: flex;
        align-items: end;
        border-radius: 16px;
  
        .service-desc {
          background-color: rgba(0, 0, 0, .9);
          border-radius: 0 0 16px 16px;
          color: white;
          padding: 1.5rem;
          min-height: 200px;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  #services {
    padding: 4rem 2rem 12rem 2rem;
    #services-header {
      h2 {
        color: white;
        font-size: 3rem;
        font-weight: bold;
        padding: 1rem 0;
      }
    }

    #services-content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      gap: 40px;
  
      .service {
        width: 100%;
        height: 650px;
        background-color: black;
        display: flex;
        align-items: end;
        border-radius: 16px;
  
        .service-desc {
          background-color: rgba(0, 0, 0, .9);
          border-radius: 0 0 16px 16px;
          color: white;
          padding: 1.5rem;
          min-height: 200px;
        }
      }
    }
  }
}