<div id="comments">
  <swiper-container class="mySwiper" space-between="30" pagination="true" pagination-clickable="true" loop="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" navigation="true">
    <swiper-slide>
      <h3>
        Glamour Hair Salon in Street, 24 is fantastic! The stylists are skilled and friendly, providing top-notch service. I left feeling pampered and happy with my new hairstyle. Thank you, Glamour, for a wonderful experience!
      </h3>
      <p>
        - Liam
      </p>
    </swiper-slide>
    <swiper-slide>
      <h3>
        24 Hair Salon in Street is fantastic! The stylists are skilled and friendly, providing top-notch service. I left feeling pampered and beautiful. Thank you, 24 Hair Salon, for the amazing experience!
      </h3>
      <p>
        - Olivia
      </p>
    </swiper-slide>
    <swiper-slide>
      <h3>
        Glamour Hair Salon in Street is absolutely amazing! The stylists are incredibly talented and the service is exceptional. I was blown away by the attention to detail and the friendly atmosphere. Thank you, Glamour, for giving me the perfect hairstyle!
      </h3>
      <p>- Emma</p>
    </swiper-slide>
  </swiper-container>
</div>